<div style="padding: 30px;">
    <mat-toolbar>
        <mat-toolbar-row>
            <button (click)="openDialog(null)" color="primary" mat-button>
                <i class="fa fa-plus" aria-hidden="true"></i> Add restaurant
            </button>
            <span class="spacer"></span>
            <button (click)="toggleFilter()" mat-icon-button>
                <i class="fa fa-filter" aria-label="Filter"></i>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card *ngIf="filterIsVisible">
        <mat-form-field appearance="standard">
            <input [(ngModel)]="filter.searchTerm" matInput placeholder="Search name/notes">
            <i class="fa fa-filter" aria-hidden="true" matSuffix></i>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-select [(ngModel)]="filter.tried" placeholder="Tried">
                <mat-option></mat-option>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-select [(ngModel)]="filter.cityIds" multiple placeholder="City">
                <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{city.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-select [(ngModel)]="filter.cuisineIds" multiple placeholder="Cuisine">
                <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine.id">
                    {{cuisine.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-select [(ngModel)]="filter.parkingLot" multiple placeholder="Parking Lot">
                <mat-option [value]="2">?</mat-option>
                <mat-option [value]="1">Yes</mat-option>
                <mat-option [value]="0">No</mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="applyFilters()" mat-button>Apply filters</button>
        <button (click)="clearFilters()" mat-button>Clear filters</button>
    </mat-card>
    <table [dataSource]="restaurants" class="mat-elevation-z8" mat-table matSort style="margin-top: 10px; width: 100%;">
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let restaurant" mat-cell>
                <a (click)="openDialog(restaurant.id)" class="pointer">
                    <i class="fa fa-fw fa-pencil" aria-label="Edit"></i>
                </a>
                &nbsp;
                <a (click)="delete(restaurant.id)" class="danger pointer">
                    <i class="fa fa-fw fa-trash" aria-label="Delete"></i>
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="tried">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Tried</th>
            <td *matCellDef="let restaurant" mat-cell>
                <i *ngIf="restaurant.tried" class="fa fa-check" aria-label="Tried"></i>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
            <td *matCellDef="let restaurant" mat-cell>
                {{restaurant.name}}
                <a *ngIf="restaurant.yelp" color="primary" href="{{restaurant.yelp}}" mat-icon-button>
                    <i class="fa fa-yelp" aria-label="Yelp link"></i>
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>City</th>
            <td *matCellDef="let restaurant" mat-cell>{{restaurant.city}}</td>
        </ng-container>
        <ng-container matColumnDef="cuisines">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Cuisine</th>
            <td *matCellDef="let restaurant" mat-cell>{{restaurant.cuisines}}</td>
        </ng-container>
        <ng-container matColumnDef="parkingLot">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Parking Lot</th>
            <td *matCellDef="let restaurant" mat-cell>
                <span *ngIf="restaurant.parkingLot === 2">?</span>
                <span *ngIf="restaurant.parkingLot === 1">Yes</span>
                <span *ngIf="restaurant.parkingLot === 0">No</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="notes">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Notes</th>
            <td *matCellDef="let restaurant" mat-cell>{{restaurant.notes}}</td>
        </ng-container>
        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns" mat-row></tr>
    </table>
</div>