<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a href="#" mat-icon-button>
            <i class="fa fa-cutlery" aria-label="Home"></i>
        </a>
        <span>Christina's restaurant directory</span>
        <span class="spacer"></span>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
            <i class="fa fa-cog" aria-label="Settings"></i>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="manageCities()" mat-menu-item>
                <i class="fa fa-building fa-fw" aria-hidden="true"></i> Manage cities
            </button>
            <button mat-menu-item>
                <i class="fa fa-globe fa-fw" aria-hidden="true"></i> Manage cuisines
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>